


<div class="forget-password-wrapper" >
   
    <form class="forget-password"  name="forgetPasswordForm" novalidate >
      
      <i class="fa fa-times fa-lg" aria-hidden="true" ng-click="close();"></i>
      <p class="title">Forgot My Password?</p>
     
      <div>
      <span>Enter your email address below and we'll send you an email with instructions.</span>
      <input type="text" placeholder="Email" autofocus="true" name="username" ng-model="username"  ng-class="{'animated shake has-error' : isUserNamefocusOut && forgetPasswordForm.username.$invalid && (!forgetPasswordForm.username.$pristine )  }" ng-blur="isUserNamefocusOut=true;" ng-focus="isUserNamefocusOut=false;" required="true" />
      <i class="fa fa-envelope" aria-hidden="true"></i>
   
      <button ng-disabled="forgetPasswordForm.$invalid">
   
        
       
       Submit
    
      </button>

    </div>

    </form>


   <!--  <div class="authenticate" ng-show="isAuthenticating" >
   <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
   <p>Authenticaticating</p>
     </div> -->
    
</div>




   

      
      




