<header class="main-header"  ng-controller = "DashboardHeaderCtrl">
   <!-- Logo -->
   <a  class="logo" >
      <!-- mini logo for sidebar mini 50x50 pixels -->
      
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg" ng-class="{'logo-lg' : showLogo  , 'logo-mini' : !showLogo  } ">Website Logo</span>
   </a>
   
   <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a  class="sidebar-toggle"  role="button" ng-click="toggleSideBar()">
        
        <i class="fa fa-bars fa-lg " aria-hidden="true" ></i> 

      </a>

      <a  class="mobile-sidebar-toggle"  role="button" ng-click="toggle_mobile_SideBar()">
        
        <i class="fa fa-bars fa-lg " aria-hidden="true" ></i> 

      </a>
 


      <div class="navbar-custom-menu">
         <ul class="nav navbar-nav">
                     <!-- Messages: style -->
            <li class="dropdown messages-menu">
               <a  class="dropdown-toggle" ng-mouseover="isMessageItemsCollapsed = false" ng-mouseleave="hideMessageOptions()"  >
               <i class="fa fa-envelope-o" ></i>
               <span class="label label-success">4</span>
               </a>
               <!--dropdown menu for messages-->
               <ul class="dropdown-menu pull-right" uib-collapse="isMessageItemsCollapsed" ng-mouseover="isMessageItemsCollapsed = false; isMouseOverMenu = true"  ng-mouseleave="isMessageItemsCollapsed = true ; isMouseOverMenu = false"  >
                  <li class="header">You have 4 messages</li>
                  <li>
                     <!-- inner menu heading -->
                     <ul class="menu">
                        <li>
                           <!-- start message -->
                           <a href="#">
                              <div class="pull-left">
                                 <img src="Dashboard_module/images/user2-160x160.jpg" class="img-circle" alt="User Image">
                              </div>
                              <h4>
                                 Support Team
                                 <small><i class="fa fa-clock-o"></i> 5 mins</small>
                              </h4>
                              <p>Why not buy a new awesome theme?</p>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <div class="pull-left">
                                 <img src="Dashboard_module/images/user3-128x128.jpg" class="img-circle" alt="User Image">
                              </div>
                              <h4>
                                 AdminLTE Design Team
                                 
                                 <small><i class="fa fa-clock-o"></i> 2 hours</small>
                              </h4>
                              <p>Why not buy a new awesome theme?</p>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <div class="pull-left">
                                 <img src="Dashboard_module/images/user4-128x128.jpg" class="img-circle" alt="User Image">
                              </div>
                              <h4>
                                 Developers
                                 <small><i class="fa fa-clock-o"></i> Today</small>
                              </h4>
                              <p>Why not buy a new awesome theme?</p>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <div class="pull-left">
                                 <img src="Dashboard_module/images/user3-128x128.jpg" class="img-circle" alt="User Image">
                              </div>
                              <h4>
                                 Sales Department
                                 <small><i class="fa fa-clock-o"></i> Yesterday</small>
                              </h4>
                              <p>Why not buy a new awesome theme?</p>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <div class="pull-left">
                                 <img src="Dashboard_module/images/user4-128x128.jpg" class="img-circle" alt="User Image">
                              </div>
                              <h4>
                                 Reviewers
                                 <small><i class="fa fa-clock-o"></i> 2 days</small>
                              </h4>
                              <p>Why not buy a new awesome theme?</p>
                           </a>
                        </li>
                        <!-- end message -->
                     </ul>
                     <!-- menu end -->
                  </li>
                  <li class="footer"><a href="#">See All Messages</a></li>
               </ul>
               <!--dropdown menu for messages -->

            </li>
            <!-- message-menu  li-->











             <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">

              <a  class="dropdown-toggle" ng-mouseover="isNotificationItemsCollapsed  = false" ng-mouseleave="hideNotificationOptions()">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
              </a>
             
              <!-- notification dropdown -->
              <ul class="dropdown-menu pull-right" class="dropdown-menu pull-right" uib-collapse="isNotificationItemsCollapsed" ng-mouseover="isNotificationItemsCollapsed = false ; isMouseOverMenu = true;"  ng-mouseleave="isNotificationItemsCollapsed = true ; isMouseOverMenu = false">
                <li class="header">You have 10 notifications</li>
                 <li>
                <!-- inner menu: contains the actual data -->
                  <ul class="menu">
                     
                     <li>
                     <a href="#">
                      <i class="fa fa-users " style="color:#3498db"></i> 5 new members joined today
                     </a>
                    </li>
                  
                      <li>
                    <a href="#">
                      <i class="fa fa-warning " style="color:#f1c40f"></i> Very long description here that may not fit into the
                      page and may cause design problems
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users " style="color:#e74c3c"></i> 5 new members joined
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart" style="color:#2ecc71""></i> 25 sales made
                    </a>
                  </li>
                  
                  <li>
                    <a href="#">
                      <i class="fa fa-user " style="color:#f1c40f" ></i> You changed your username
                    </a>
                  </li>
    
                  </ul><!-- end of menu -->
                </li><!-- end of inner content of notification -->
                <li class="footer"><a href="#">View all</a></li>
               </ul><!-- notification drop down end --> 
            </li><!-- notification menu end here -->

          
         




















           
             <!-- Tasks: style  -->
              <li class="dropdown tasks-menu">
                 <a  class="dropdown-toggle" ng-mouseover = "isTaskItemsCollapsed = false" ng-mouseleave = "hideTaskOptions()">
                  <i class="fa fa-flag-o"></i>
                  <span class="label label-danger">9</span>
                 </a>
                 <!-- dropdown options for task -->
                  <ul class="dropdown-menu pull-right" uib-collapse = "isTaskItemsCollapsed" ng-mouseover = "isTaskItemsCollapsed = false ; isMouseOverMenu = true;"  ng-mouseleave = "isTaskItemsCollapsed = true ; isMouseOverMenu = false;">
                     <li class="header">You have 9 tasks</li>
                     <li>
                     <!-- inner menu: contains the actual data -->
                       <ul class="menu">
                             <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Design some buttons
                        <small class="pull-right">20%</small>
                      </h3>

                      <div class="progress xs">
                        <div class="progress-bar .progress-bar-info" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Create a nice theme
                        <small class="pull-right">40%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-success" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">40% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Some task I need to do
                        <small class="pull-right">60%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-danger" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                                    <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Make beautiful transitions
                        <small class="pull-right">80%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-warning" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">80% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->

                       </ul><!--menu -->

                     </li> 
                     <li class="footer">
                <a href="#">View all tasks</a>
              </li>
                  </ul>
                  <!-- end of dropdown actions for task -->
              </li> <!-- end of task style --> 


   
             <!-- User Account: view -->
             <li class="dropdown user user-menu">

             <a   ng-mouseover = "isUserItemsCollapsed = false" ng-mouseleave = "hideUserOptions()">
              <img src="Dashboard_module/images/user2-160x160.jpg" class="user-image" alt="User Image">
              <span >Chandan Coolz</span>
             </a>
             
             <!-- dropdown options for user-->
                  <ul class="dropdown-menu pull-right" uib-collapse = "isUserItemsCollapsed " ng-mouseover = "isUserItemsCollapsed  = false ;isMouseOverMenu = true;"  ng-mouseleave = "isUserItemsCollapsed  = true; isMouseOverMenu = false
                  ;" >
                    
                   <li>
              <!-- inner menu heading -->
                     <ul class="menu" >
                        <li>
                           <!-- start message -->
                             <a href="#">
                             <i class="fa fa-user fa-lg " style="color:#3B5998"></i> <span>My Profile</span>
                             </a>
                        </li>

                        <li>
                           <!-- start message -->
                             <a href="#">
                             <i class="fa fa-flag-o fa-lg " style="color:red"></i> <span>My Task</span>
                             <span class="label label-danger" >9</span>
                             </a>
                        </li>


                        <li>
                           <!-- start message -->
                             <a href="#">
                             <i class="fa fa-envelope-o fa-lg" style="color:#FEBB00"></i> <span>My Inbox</span>
                             <span class="label label-success" >4</span> 
                             </a>
                        </li>
                        
                        <li>
                           <!-- start message -->
                             <a href="#">
                             <i class="fa fa-key fa-lg" style="color:#00A65A"></i> <span>Log Out</span> 
                             </a>
                        </li>

                        <!-- end message -->
                     </ul>
                     <!-- menu end -->

                     </li>
                     </ul><!--end of dropdown menu -->












          
            </li>
            <!-- user account end here -->

            <!-- end of toggle submenu -->
         </ul>
         <!-- nav navbar-nav -->
      </div>
      <!-- navbar-custom-menu -->
   </nav>
</header>