<header class="main-header"  ng-controller = "DashboardHeaderCtrl">
   <!-- Logo -->
   <a  class="logo" >
      <!-- mini logo for sidebar mini 50x50 pixels -->
      
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg" ng-class="{'logo-lg' : showLogo  , 'logo-mini' : !showLogo  } ">Website Logo</span>
   </a>
   
   <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a  class="sidebar-toggle"  role="button" ng-click="toggleSideBar()">
        
        <i class="fa fa-bars fa-lg " aria-hidden="true" ></i> 

      </a>

      <a  class="mobile-sidebar-toggle"  role="button" ng-click="toggle_mobile_SideBar()">
        
        <i class="fa fa-bars fa-lg " aria-hidden="true" ></i> 

      </a>
 


      <div class="navbar-custom-menu">
         <ul class="nav navbar-nav">
                     <!-- Messages: style -->
            <li class="dropdown messages-menu">
               <a  class="dropdown-toggle" ng-mouseover="isMessageItemsCollapsed = false" ng-mouseleave="hideMessageOptions()"  >
               <i class="fa fa-envelope-o" ></i>
               <span class="label label-success"> {{messages.length}} </span>
               </a>
               <!--dropdown menu for messages-->
               <ul class="dropdown-menu pull-right" uib-collapse="isMessageItemsCollapsed" ng-mouseover="isMessageItemsCollapsed = false; isMouseOverMenu = true"  ng-mouseleave="isMessageItemsCollapsed = true ; isMouseOverMenu = false"  >
                  <li class="header">You have {{messages.length}} messages</li>
                  <li>
                     <!-- inner menu heading -->
                     <ul class="menu">
                        

                      <li ng-repeat="m in messages"> 
                           <!-- start message -->
                          <a href="#">
                              <div class="pull-left">
                                 <img ng-src="{{'Dashboard_module/images/'+m.sender_userid+'-128x128.jpg'}}" class="img-circle" alt="User Image">
                              </div>
                              <h4>
                                 {{m.sender_name}}
                                 <small><i class="fa fa-clock-o"></i> {{m.time}}</small>
                              </h4>
                              <p>{{ m.Message}}</p>
                           </a>
                        </li> 




                        
                        <!-- end message -->
                     </ul>
                     <!-- menu end -->
                  </li>
                  <li class="footer"><a href="#">See All Messages</a></li>
               </ul>
               <!--dropdown menu for messages -->

            </li>
            <!-- message-menu  li-->











             <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">

              <a  class="dropdown-toggle" ng-mouseover="isNotificationItemsCollapsed  = false" ng-mouseleave="hideNotificationOptions()">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">{{notification.length}}</span>
              </a>
             
              <!-- notification dropdown -->
              <ul class="dropdown-menu pull-right" class="dropdown-menu pull-right" uib-collapse="isNotificationItemsCollapsed" ng-mouseover="isNotificationItemsCollapsed = false ; isMouseOverMenu = true;"  ng-mouseleave="isNotificationItemsCollapsed = true ; isMouseOverMenu = false">
                <li class="header">You have {{notification.length}} notifications</li>
                 <li>
                <!-- inner menu: contains the actual data -->
                  <ul class="menu">
                     
                    
                  

                     <li ng-repeat="n in notification">
                     <a href="#">
                      <i class="fa {{ notificationIcons[n.type].icon }} " style="color:{{ notificationIcons[n.type].color }}"></i>  {{n.message}}
                     </a>
                    </li>




    
                  </ul><!-- end of menu -->
                </li><!-- end of inner content of notification -->
                <li class="footer"><a href="#">View all</a></li>
               </ul><!-- notification drop down end --> 
            </li><!-- notification menu end here -->

          
         




















           
             <!-- Tasks: style  -->
              <li class="dropdown tasks-menu">
                 <a  class="dropdown-toggle" ng-mouseover = "isTaskItemsCollapsed = false" ng-mouseleave = "hideTaskOptions()">
                  <i class="fa fa-flag-o"></i>
                  <span class="label label-danger">{{task.length}}</span>
                 </a>
                 <!-- dropdown options for task -->
                  <ul class="dropdown-menu pull-right" uib-collapse = "isTaskItemsCollapsed" ng-mouseover = "isTaskItemsCollapsed = false ; isMouseOverMenu = true;"  ng-mouseleave = "isTaskItemsCollapsed = true ; isMouseOverMenu = false;">
                     <li class="header">You have {{task.length}} tasks</li>
                     <li>
                     <!-- inner menu: contains the actual data -->
                       <ul class="menu">
                             <li ng-repeat="t in task"><!-- Task item -->
                    <a href="#">
                      <h3>
                        {{t.name}}
                        <small class="pull-right">{{t.status+'%'}}</small>
                      </h3>

                      <div class="progress xs">
                        <div 
  
                         ng-class=" {'progress-bar progress-bar-danger' : t.status <= 20 , 'progress-bar progress-bar-warning' : t.status >20 && t.status <=50 , 'progress-bar progress-bar-info' : t.status > 50 && t.status <=90 , 'progress-bar progress-bar-success' : t.status > 90    }"
                         style="width: {{t.status}}%" role="progressbar" aria-valuenow="{{t.status}}" aria-valuemin="0" aria-valuemax="100">
                          
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  

                       </ul><!--menu -->

                     </li> 
                     <li class="footer">
                <a href="#">View all tasks</a>
              </li>
                  </ul>
                  <!-- end of dropdown actions for task -->
              </li> <!-- end of task style --> 










   
             <!-- User Account: view -->
             <li class="dropdown user user-menu">

             <a   ng-mouseover = "isUserItemsCollapsed = false" ng-mouseleave = "hideUserOptions()">
              <img src="Dashboard_module/images/user2-160x160.jpg" class="user-image" alt="User Image">
              <span >Chandan Coolz</span>
             </a>
             
             <!-- dropdown options for user-->
                  <ul class="dropdown-menu pull-right" uib-collapse = "isUserItemsCollapsed " ng-mouseover = "isUserItemsCollapsed  = false ;isMouseOverMenu = true;"  ng-mouseleave = "isUserItemsCollapsed  = true; isMouseOverMenu = false
                  ;" >
                    
                   <li>
              <!-- inner menu heading -->
                     <ul class="menu" >
                        <li>
                           <!-- start message -->
                             <a href="#">
                             <i class="fa fa-user fa-lg " style="color:#2980b9"></i> <span>My Profile</span>
                             </a>
                        </li>

                        <li>
                           <!-- start message -->
                             <a href="#">
                             <i class="fa fa-flag-o fa-lg " style="color:#e74c3c"></i> <span>My Task</span>
                             <span class="label label-danger" >{{task.length}}</span>
                             </a>
                        </li>


                        <li>
                           <!-- start message -->
                             <a href="#">
                             <i class="fa fa-envelope-o fa-lg" style="color:#FEBB00"></i> <span>My Inbox</span>
                             <span class="label label-success" >{{messages.length}}</span> 
                             </a>
                        </li>
                        
                        <li>
                           <!-- start message -->
                             <a href="#/">
                             <i class="fa fa-key fa-lg" style="color:#27ae60"></i> <span>Log Out</span> 
                             </a>
                        </li>

                        <!-- end message -->
                     </ul>
                     <!-- menu end -->

                     </li>
                     </ul><!--end of dropdown menu -->












          
            </li>
            <!-- user account end here -->

            <!-- end of toggle submenu -->
         </ul>
         <!-- nav navbar-nav -->
      </div>
      <!-- navbar-custom-menu -->
   </nav>
</header>