  <!-- Left side column. contains the logo and sidebar -->
  <aside ng-controller="DashboardLeftMenuCtrl"  ng-class="{'main-sidebar' : showSideBar && !hideSideBar , 'main_sidebar_tab' : !showSideBar &&  !hideSideBar,'main-sidebar-hide' : hideSideBar} " >
    
    <!-- sidebar: style can be found in sidebar.less -->
    <section   ng-class="{'sidebar' : showSideBar && !hideSideBar , 'sidebar_tab' : !showSideBar && !hideSideBar , 'sidebar-hide' : hideSideBar} " >
    
      <!-- Sidebar user panel -->
      <div  ng-class="{'user-panel' : showSideBar && !hideSideBar , 'user-panel_tab' : !showSideBar && !hideSideBar , 'user-panel-hide' : hideSideBar} ">
 
         <div class="pull-left image" >
          <img src="Dashboard_module/images/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>

        <div class="pull-left info">
          <p>chandan coolz</p>
          <a ><i class="fa fa-circle text-success"></i> Online</a>
        </div>
     
     </div><!-- end of user panel -->


          <!-- sidebar menu -->
      <ul  ng-class="{'sidebar-menu' : showSideBar , 'sidebar-menu_tab' : !showSideBar} ">
       <li class="header">GENERAL</li>
       <li>
          <a href=""  ng-mouseover="show_tab_dashboard_slide_heading = true" ng-mouseleave="show_tab_dashboard_slide_heading = false">
            <i class="fa fa-home fa-lg"  ></i> <span ng-class="{'show_heading' : show_tab_dashboard_slide_heading , 'hide_heading' : !show_tab_dashboard_slide_heading } ">Dashboard</span>
            
          </a>
       </li><!--end of dashboard -->

       <li  ng-class="{'active' : angularjSOptionsShow , 'treeview' : !angularjSOptionsShow  } " >


          <a href=""  ng-mouseover="angularjS_tab_heading_mouseOver();" ng-mouseleave="angularjS_tab_heading_mouseLeft();">
            <i class="fa fa-cog fg-lg"></i>
            <span  ng-class="{'show_heading' : show_tab_angularjS_slide_heading , 'hide_heading' : !show_tab_angularjS_slide_heading } " >AngularjS Features</span>
            <i class="fa fa-chevron-left pull-right" ng-click = "angularjSOptionsShow = !angularjSOptionsShow"></i>
          </a>
          <ul  class="treeview-menu"  ng-show="showSideBar || (!showSideBar && show_tab_angularjS_slide_heading) "  ng-mouseover="show_tab_first_level_menu = true" ng-mouseleave="show_tab_angularjS_slide_heading = false; show_tab_first_level_menu = false" >
           <li><a href="" ><i class="fa fa-circle-o"></i> UI Bootstrap</a></li>
           <li><a href=""><i class="fa fa-circle-o"></i> File Upload</a></li>
           <li><a href=""><i class="fa fa-circle-o"></i> File Select</a></li>
         </ul><!-- treeview mwnu -->
      </li>  <!-- end of angularjS -->

     <li id="jquery-secion-option" ng-class="{'active' : jQueryOptionsShow , 'treeview' : !jQueryOptionsShow  } "   >
         <a href="" ng-mouseover="jQuery_tab_heading_mouseOver();" ng-mouseleave="jQuery_tab_heading_mouseLeft();" >
            <i class="fa fa-wrench fa-lg"></i>
            <span ng-class="{'show_heading' : show_tab_jQuery_slide_heading , 'hide_heading' : !show_tab_jQuery_slide_heading } ">JQuery Plugins</span>
            <i class="fa fa-chevron-left pull-right" ng-click = "jQueryOptionsClicked();"></i>
          </a>

          <ul class="treeview-menu"  ng-show="showSideBar || (!showSideBar && show_tab_jQuery_slide_heading ) "   ng-mouseover="show_tab_first_level_menu = true"  ng-mouseleave="show_tab_jQuery_slide_heading = false; show_tab_first_level_menu = false" >
             <li><a href=""><i class="fa fa-circle-o"></i> Form Tools</a></li>
               <li><a href=""><i class="fa fa-circle-o"></i> Date & Time Pickers </a></li>
               <li><a href=""><i class="fa fa-circle-o"></i> Custom Dropdowns</a></li>
               <li><a href=""><i class="fa fa-circle-o"></i> Tree View</a></li>
               <li ng-class="{'active' : jQueryOptionsShow_datatablesOptionsShow || jQueryOptionsShow_datatablesOptionsShow_tab , 'treeview' : !jQueryOptionsShow_datatablesOptionsShow || !jQueryOptionsShow_datatablesOptionsShow_tab } "    >

                    <a href=""><i class="fa fa-circle-o"></i> Datatables<i class="fa fa-chevron-left pull-right" ng-click = "jQeryDatatablesOptionClicked();" ng-mouseover="jQuery_datatablesOptionsShow_tab_heading_mouseOver();" ng-mouseleave="jQuery_datatablesOptionsShow_tab_heading_mouseLeave();"></i></a>
                    <ul class="treeview-menu"   ng-mouseover="show_tab_second_level_menu  = true" ng-mouseleave="jQueryOptionsShow_datatablesOptionsShow_tab = false; show_tab_second_level_menu = false" >
                           
                          <li><a href=""><i class="fa fa-circle-o"></i>Managed Datatables</a></li>
                          <li><a href=""><i class="fa fa-circle-o"></i>Ajax Datatables</a></li> 
                           
                           

                    </ul><!-- inner tree-menu end here -->
               </li><!-- contain nested menu options -->


   
          </ul><!outerTreeView-menu end here>
     </li>


       <li>
          <a href="" ng-mouseover="show_tab_user_slide_heading = true" ng-mouseleave="show_tab_user_slide_heading = false">
            <i class="fa fa-user fa-lg"></i> 
            <span ng-class="{'show_heading' : show_tab_user_slide_heading , 'hide_heading' : !show_tab_user_slide_heading } ">User Profile</span>
            
          </a>
       </li><!--end of user profile -->

       <li>
          <a href="" ng-mouseover="show_tab_task_todo_slide_heading  = true" ng-mouseleave="show_tab_task_todo_slide_heading  = false">
            <i class="fa  fa-clock-o  fa-lg"></i> 
            <span ng-class="{'show_heading' : show_tab_task_todo_slide_heading  , 'hide_heading' : !show_tab_task_todo_slide_heading  } ">Task & Todo</span>
            
          </a>
       </li><!--end of Task & Todo -->

      </ul><!-- end of sidebar menu -->


   </section>
  </aside><!-- end of left side menu>