<div class="pricing-table clear">

    <div class="plan">
        
        <h3>Enterprise<span><i class="fa fa-inr" aria-hidden="true"></i>59</span></h3>
       
               
       
        <ul>
            <li><b>Feature </b>One </li>
            <li><b>Feature </b>Two</li>
            <li><b>Feature </b>Three</li>
            <li><b>Feature </b>Four</li>            
        </ul> 

        <a class="subscribe" href="">Subscribe</a>  

    </div>

        <div class="plan">
        
        <h3>Professional<span><i class="fa fa-inr" aria-hidden="true"></i>59</span></h3>
       
               
       
        <ul>
            <li><b>Feature </b>One </li>
            <li><b>Feature </b>Two</li>
            <li><b>Feature </b>Three</li>
            <li><b>Feature </b>Four</li>  
            <li><b>Feature </b>Five </li>
            <li><b>Feature </b>Six</li>
         
            

        </ul> 

        <a class="subscribe" href="">Subscribe</a>  

    </div>

 
        <div class="plan">
        
        <h3>Professional<span><i class="fa fa-inr" aria-hidden="true"></i>59</span></h3>
       
               
       
        <ul>
            <li><b>Feature </b>One </li>
            <li><b>Feature </b>Two</li>
            <li><b>Feature </b>Three</li>
            <li><b>Feature </b>Four</li>  
            <li><b>Feature </b>Five </li>
            
         
            

        </ul> 

        <a class="subscribe" href="">Subscribe</a>  

    </div>

        
    
</div>