
<div class="shopping-cart">

   <div class="shopping-cart-header">

      <i class="fa fa-shopping-cart cart-icon "></i><span class="badge">3</span>

       <div class="shopping-cart-total">
        <span class="lighter-text">Total:</span>
        <span class="main-color-text"><i class="fa fa-inr" aria-hidden="true"></i> 2,229.97</span>
       </div>

   </div>

    <ul class="shopping-cart-items">

        <li class="clearfix">
        <img src="order_module/images/camera.jpg" alt="camer" />
        <span class="item-name">Sony DSC-RX100M III</span>
        <span class="item-price"><i class="fa fa-inr" aria-hidden="true"></i> 849.99</span>
        <span class="item-quantity">Quantity: 01</span>
        </li>


        <li class="clearfix">
        <img src="order_module/images/watch.jpg" alt="watch" />
        <span class="item-name">KS Automatic Mechanic</span>
        <span class="item-price"><i class="fa fa-inr" aria-hidden="true"></i> 1,249.99</span>
        <span class="item-quantity">Quantity: 01</span>
        </li>

        <li class="clearfix">
        <img src="order_module/images/kindle.jpg" alt="item3" />
        <span class="item-name">Kindle, 6" Glare-Free To</span>
        <span class="item-price"><i class="fa fa-inr" aria-hidden="true"></i> 129.99</span>
        <span class="item-quantity">Quantity: 01</span>
      </li>

    </ul>

    <a href="" class="button">Checkout</a>

</div>